@media only screen and (min-width: 64em) {
  article p.town-article img {
      width: 29.333%;
  }
  .forecast {
      display: inline;
      margin: 10px;
  }
  header img {
      width: 120px;
      height: 100px;
  }
  nav {
      text-align: center;
  }
  .navigation.responsive {
      position: relative;
  }
  .navigation.responsive li {
      background-color: #eee;
      display: inline;
      width: 100%;
      margin: 4px 0;
  }
  .navigation.responsive li a {
      padding: 1rem;
      text-align: center;
      display: inline;
      text-decoration: none;
  }
  .navigation.responsive li a:hover {
      background-color: #ddd;
  }
  li {
      display: inline;
  }
  figure img {
      width: 100%;
  }

  section.forecast{
	padding-top: 1em;
	border:none;
	width:99%;
	margin-top:20px;
	position: relative;
	margin-right: 10px;
}
section.forecast table {
    width:100%;
    text-align:center;
    border-collapse: collapse;
    width: 99%;
}
section.forecast table td, main .forecast table th {
    border: 1px solid #ddd;
    padding: 10px;
}
section.forecast table tr {
	background-color:#ddd;

}
section.forecast table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
	background-color:#568eea;
    color: #000;
}

  section article {
	width: 33%;
	float: clear;
  }

  #currIcon{
    display: inline-block;
    width:100%;
    vertical-align: middle;
}
}
