* {
	box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: #414751;
}

body {
	margin-left: 2em;
	margin-right: 2em;
	font-family:arial;
	font-size: 16px;
}

header  {   
    background-color: #ea6955;
	max-width: 100%; 
    margin: 0% 0%;
    width: 99%;
	text-align: center;
}

.logo  {
	float: left;
	
	padding-left: 20px;
}

.headerText {
	margin-right: 200px;
	margin-top: 0px;
	display: inline-block;
	padding-left:50px;
}

.headerText h1{
	color: rgb(85, 95, 183);
	font-size: 40;
	
}

header #subHeader h3 {
	
	font-size: 15;
	font-family: 'Work Sans', sans-serif;
	color: rgb(85, 87, 183);
	
}

nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color: #414751;
}

nav {
	width: 99%;
	background-color: #79c049;
	font-family: 'Merriweather', serif;
	display: inline;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	display: block;
	padding: .8rem 2%;
	text-decoration: none;
	color: #414751;
	border-top: 1px solid #7656ea;
}

nav ul li.active a {
	background-color: #028e3e;
}

nav ul li a:hover{
	background-color: #7656ea;
}

nav ul.hide {display: none;}

main { 
	width: 99%;
}

main h1 {
	text-align: center;
}

main h2 {
	text-align: center;
}

#currIcon{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.PrestonWeather{
	margin: 0;
	width:99%;
	
}

.PrestonWeather.heroContainer{
	position: relative;
	min-height: 50%;
	
}


section.weathersummary{
	font-size: 2.5vw;
	background-color: #55ADB7;
	position: absolute;
	line-height: 0px;
	padding-bottom: 0.5em;
	max-width: 33%;
	max-height: 99%;
	border: 2px #568eea solid ;
}

.grid-container {
    
	background-color:#55ADB7;
    padding: 5px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
  }




main figure.hero{
	margin: 0 0 0 0;
	
}

main figure.hero img{
	width: 99%;
}


section.forecast{

	border:none;
}


section {
	width: 99%;
	display:inline-block
}

section article {
	font-size: 1.2vw;
	width: 30%;
	float: left;
	margin-right: 3px
	
	
  }

  section article ul{
	margin: 0;
    padding: 0;
  }

footer {
	width: 99%;
}

footer p {
	margin-bottom: 0%;
	color: #568eea;
}

