* {
    font-family: 'Work Sans', sans-serif;
    color: #414751;
}

body {
	margin-left: 100px;
	background-color: #c09989;
	
}

header  {
    display: inline-block;
    padding: 10px;
    background-color: #ea6955;
	font-size: 40px;
	width: 92%;
}

.logo  {
	display: inline-block;
	margin-left: 20px;
}

.headerText {
	margin-top: 0px;
	margin-left: 50px;
	display: inline-block;
}

.headerText h1{
	color: #55ADB7;
	font-size: 40;
}

header #subHeader h3 {
	margin-left: 20%;
	font-size: 15;
	font-family: 'Work Sans', sans-serif;
	color: #55ADB7
	
}

#currentCondition {
	margin-left: 70px;
	height: 100px;
	background-color: #55ADB7;
	display: inline-block; 
}

nav {
	padding-top: 1px;
	padding-bottom: 3px;
	background-color: #568eea;
	width: 1334px;
}

ul li {
		color: #414751;; 
    display: inline-block;
}